# Tabellen formen und Transoformieren

Eine richtige Deklarieriung von unsere Tabelle ist von gr0ßer bedeutung denn im nachhinhein erleichtert es uns die dinge besser nach zu vollziehen. Dabei spielen nicht einhaltung von richtige Eintragung in der Datensammölung Phase eine richtige Rolle sondern es spielt eine wichtige Rolle dass die daten in  eine benutzerfreundliche Art und weise kategorisiert werdnen. Da wir in Power BI die daten in eiene sturkturierte Form verarbeiten bzw. tabekllerich müssen wir die Spalten damit sind Die Title gemeint eine nachvollziehbare name geben. Es kommt häufig vor dass wir Daten importieren wo man die Spaltennamen anpassen soll. 


## Spalten Namen

eine sehr wichtige Rolle entscheiden die Spaltennamen. Sie sollten vor modellierung und Visualisierung in Query Editor angepasst werden. Hier unten ist ein Szenario beispiel wie eine Unstrukturierte Datein , CSV importiert wird. Power BI gibt hier als spaltenname genrirsche Werte Wie Column 1 column 2 und etc.


<img src="../../bilder/prepare-data/lecture_3_img_1.png" width=75%/>




Die Spaltennamen erscheinen Nachdem man fertig ist mit Daten Aufebreitung in unsere Power BI Oberfläche ausserhalb Query Editor. Somit kann man sich orintieren welche Datengruppen man benutzen will. In unteren Scrreeenshot sind die Namen noch nicht transformiert wurden in Query Editor und wenn man die Daten in Visualisierung Umgebung benutzen möchten sieht man es wie im Screenshot:

<img src="../../bilder/prepare-data/lecture_3_column_name_img_2.png" width=75% />



Um dieses Problerm zu vermeiden kann man in Query Editor die Namen von Spalten manuell ändern in dem man auf der jeweiligen Spalten einen doppelklick macht und den gewünschten Namen hinzufügt. 

<img src="../../bilder/prepare-data/lecture_3_img_3.png" width=75% />

## Übernahme von Spaltennamen aus der Datei

in den meisten fällen haben allerdings eine Spaltennamen die Nutzbar sein können. Selbst in unstrukturierte Datenquelle wie CSV. In CSV dateien gilt die erste Reihe mit seinen Werten als Spaltennamen. 
wenn man unsere DatenQuelle sich genauer anschaut sieht man dass in der dritten Zeile bereits Spaltennamen definiert wurden sind. Um dieses als Spalten namen zu übernehmen müssen wir die Reihe der Spaltennamen lokalisieren. Als nächsten müssen wir in die ersten Reihe bringen. Dafür können wir im Bediniungsleiste der Query Editor "Zeilen veringern" auf "Zeilen entfernen klicken" anschlißend kann man die von oben aus die Zeilen entfernen oder von unten aus. wir wollen aber nur die Ersteln 2 Reihen entfernen daher klicken wir auf "Erste Reihen entfernen". Anshclißend öffnent sich eine Pop UP wo wir die Anzahl der Reihen angeben können die entfernt werden sollen.


<img src="../../bilder/prepare-data/lecture_3_img_4.png" width=75% />


Nach entfernen von ersten zwei Reihen und angabe von erste Reihe als Spaltennamen.
Um die Erste reihe als Header zu übernhemen müssen wir im Bedinungleiste unter "Transofomrieren auf "Erste Zeile als Überschrift verwenden klicken" oder neben erste Spaltennamen auf Icon Links davon klicken und erste Zeile als Überschrift verwenden klicken 



<img src="../../bilder/prepare-data/lecture_3_img_5.png" width=75% />


# Entefrnen von Spalten

Manchmal gibt es in unsere Datenanalyse und unsere Projekt eine Gruppe von Daten die nicht benötigt werden oder unvollständig sind und wir die weglassen wollen oder die sind durch Fehler entstanden. zum beispiel eine ganze Spalten von Daten die wir nicht in der Analyse benötiigen daher können wir von vorne rein beiim Datenaufbereitungsprozess die entfernen. Das können wir in dem wir auf die Spaltentitle gehen darauf ein links klick durchführen und auf Option Entfernen klicken. Dann wird die Spalten gelöscht wir können das in Sidebar Angeandte Schritte sehen da es als Schritt hinzugefügt wird. Ausserdem sollte die Spalten nicht mehr im Arbeitsfeld sichtbar sein. 
Die zweite möglichkeit ist über die Bedinungsleiste unter Spalten verwalten auf Spalte auswählen klicken. dann auf erscheinen alle verfügbaren spalten die mit einem blauen Checkbox blau aktiviert sind. Wr können die Spalten die wir nicht brauchen dekaitvieren.


# Entfernen von unterstrich oder Bindestriche in Spaltentitle

um maximale Benutzerfreundlichkeit zu bewahren können wir eine Optionalen Schritt anwenden in dem wir auf die Unterstriche und Bindestriche von unsre Header entfernen. Ausserdem können wir im Linken SIdebar die namen unsere Datei auch ändern falls die Bedarf besteht.

# Benutzerfreundliche Namenskonventationen

 Für die Namengebung gibt es keine universelle Regel aber wir können viele optimierungen vornehmen um es dinge lesbarer zuschreiben. zur diese Regel gehönren:

 1. Keine "_" oder "-" in Datei namen oder Spatentitle
 2. keine Klammern nötig innehralb Spaltennamen 


# Inkonsistanten und fehlende Daten

Nun gehen wir das Thema fehlnede Daten ein. Wir gehen auf Die BEhubenung dieses Problem dar. In Alltag kommt es häufig vor dass wir Probleme mit Daten haben zum beispiel dass bestimmte dinge Nicht angegeben sind. in diesem Beispiel unter der Spalte Sales sieht man Werte wie "NA" die für Nicht Angegeben steht. Diesee Wert sollen wir ersetzen mit einem Wert die sich für unsere weitere 

## Lösung 1: Werte Ersetzen (Bedinungsleise)

Die erstel Lösung ist auf  die Spalten klicken in dem sich die Werte befinden und dann über die Bedinungsleiste auf "Werte Erstzen" zu klicken. Anschlißend öffnet sich eine neues Pop UP Fenster. Dort können wir im ersten Eingabe Feld die zu ändernde Wert Schreiben. Im Unteren Eingabefeld geben wir den Wert welches den ursprungswert ersetzen soll. Abshcliessend klicken wir auf okay.

### Aufgaben

- Entfernen von "sales" in Werte Bereich
- NA Werte Ersetzen bevor man Datentyp ändern will denn ohne NA Änderung Fehlermedlung. Anstatt NA "null" eingeben


## Lösung 2: 

# Entfernung von Dupplikaten 

Bei der Aufbereitung der Daten gibt es bestimmte Daten die einmalig vergebn sein dürfen wie zum beispiel ID-nummern.
Allerdings kann es vorkommen dass es dupplikate bei Datensammlung entstehen. Diese einmalig vergeben Werte sorgen nicht nur dafür dass ein bestimmtes Element nachverfolgt werden kann sondern sorgt auc dafür dass keine Reproduzierte Daten entstehen die Für eine hohen Abweichung in der Analyse führen können.
Um Dupplikate zu entfernen klicken wir auf Spalten wo die Duplikatte sich befinden. Anschlißend klicken wir über die Bedinungsleiste auf Zeilen Entfernen. dann in Dropdown auf Option Duplikate entfernen klicken.

## Aufgabe 

- Unter "ID" Spalte dupplikate entfernen da IDs nur einmal vergeben sein dürfen

# Filtern von Werten oder leere Zeilen
Um Leere Zeilen oder bestimmte Werte in einem Spalte zu filtern kann man auf Rechts von Spaltentitle auf Dropdown Icon klicken. dann öffnet sich eine Dropdown. dort sind alle Werte die in der Spalten enthalten sind

## Aufgabe 

- Unter Spalten ID leere Werte filtern
- Unter Spalte Id NA Werte filtern